Repository dart-lang/test, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:checks, package:fake_async, package:matcher, package:test, package:test_descriptor, package:test_process

Remove doc comment detail about old behavior
  pkgs/test_core/lib/src/runner/version.dart
Labels: package:test

Fix stdout color support check
  pkgs/test_core/lib/src/scaffolding.dart
  pkgs/test_core/lib/src/util/io.dart
Labels: package:test

Update changelog
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Allow exceptions from operator ==
  pkgs/matcher/CHANGELOG.md
  pkgs/matcher/lib/src/equals_matcher.dart
Labels: package:matcher

Make all package:coverage imports conditional
  pkgs/test_core/lib/src/runner/coverage.dart
  pkgs/test_core/lib/src/runner/coverage_stub.dart
  pkgs/test_core/lib/src/runner/engine.dart
Labels: package:test

Improve canUseSpecialChars
  pkgs/test_core/lib/src/util/io.dart
Labels: package:test

solo skip shouldn't be reported by failures-only or compact reporters
  pkgs/test/test/runner/compact_reporter_test.dart
  pkgs/test/test/runner/failures_only_reporter_test.dart
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/metadata.dart
  pkgs/test_core/lib/src/runner/reporter/compact.dart
  pkgs/test_core/lib/src/runner/reporter/failures_only.dart
Labels: package:test

Add missing Compiler Selectors heading
  pkgs/test/README.md
Labels: package:test

Make all package:coverage imports conditional (#2544)
  pkgs/test_core/lib/src/runner/coverage.dart
  pkgs/test_core/lib/src/runner/coverage_stub.dart
  pkgs/test_core/lib/src/runner/engine.dart
Labels: package:test

Remove soloSkip metadata and update reporters to use skip flag
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/metadata.dart
  pkgs/test_core/lib/src/runner/reporter/compact.dart
  pkgs/test_core/lib/src/runner/reporter/failures_only.dart
Labels: package:test

Add a sentence to clarify "Platform"
  pkgs/test/README.md
Labels: package:test

drop extra newline
  pkgs/test/README.md
Labels: package:test

Add changelog
  pkgs/test/CHANGELOG.md
Labels: package:test

Fix wasmPath for Windows + Node.js + dart2wasm.
  pkgs/test/lib/src/runner/node/platform.dart
Labels: package:test

Add changelog entry
  pkgs/test/CHANGELOG.md
Labels: package:test

Add a sentence to clarify "Platform" (#2550)
  pkgs/test/CHANGELOG.md
  pkgs/test/README.md
Labels: package:test

Fix wasmPath for Windows + Node.js + dart2wasm combo. (#2551)
  pkgs/test/CHANGELOG.md
  pkgs/test/lib/src/runner/node/platform.dart
Labels: package:test

Bump requirements to allow/require analyzer 9.0.0
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/pubspec.yaml
Labels: package:test

Continue to allow 8.0.0
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/pubspec.yaml
Labels: package:test

Changelog everywehre
  pkgs/test/CHANGELOG.md
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Bump requirements to allow/require analyzer 9.0.0 (#2555)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

wip
  integration_tests/wasm/dart_test.yaml
  integration_tests/wasm/test/hello_world_test.dart
Labels: none

safari?
  .github/workflows/dart.yml
  integration_tests/wasm/mono_pkg.yaml
  integration_tests/wasm/test/hello_world_test.dart
Labels: type-infra

Prepare to publish
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Clean up changelogs
  pkgs/test/CHANGELOG.md
  pkgs/test_api/CHANGELOG.md
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Prepare to publish (#2559)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Bump to work with analysis_server_plugin 0.3.0
  pkgs/test_analyzer_plugin/lib/main.dart
  pkgs/test_analyzer_plugin/pubspec.yaml
Labels: none

feedback
  pkgs/test_analyzer_plugin/lib/src/fixes.dart
Labels: none

Introduce an analyzer plugin for the test package.
  pkgs/test_analyzer_plugin/README.md
  pkgs/test_analyzer_plugin/lib/main.dart
  pkgs/test_analyzer_plugin/lib/src/fixes.dart
  pkgs/test_analyzer_plugin/lib/src/rules.dart
  pkgs/test_analyzer_plugin/lib/src/utilities.dart
  pkgs/test_analyzer_plugin/pubspec.yaml
Labels: none

Add another rule: non_nullable_is_not_null_rule
  pkgs/test_analyzer_plugin/lib/main.dart
  pkgs/test_analyzer_plugin/lib/src/rules/non_nullable_is_not_null_rule.dart
  pkgs/test_analyzer_plugin/lib/src/rules/test_in_test_rule.dart
  pkgs/test_analyzer_plugin/lib/src/utilities.dart
  pkgs/test_analyzer_plugin/pubspec.yaml
  pkgs/test_analyzer_plugin/test/rules/non_nullable_is_not_null_test.dart
Labels: none

Bump to analysis_server_plugin 0.2.2
  pkgs/test_analyzer_plugin/lib/src/fixes.dart
  pkgs/test_analyzer_plugin/lib/src/utilities.dart
  pkgs/test_analyzer_plugin/pubspec.yaml
Labels: none

bump to 3.10; add a rule
  pkgs/test_analyzer_plugin/README.md
  pkgs/test_analyzer_plugin/lib/main.dart
  pkgs/test_analyzer_plugin/lib/src/fixes.dart
  pkgs/test_analyzer_plugin/lib/src/rules/non_nullable_is_not_null_rule.dart
  pkgs/test_analyzer_plugin/lib/src/rules/test_in_test_rule.dart
  pkgs/test_analyzer_plugin/lib/src/rules/use_is_empty_matcher.dart
  pkgs/test_analyzer_plugin/lib/src/utilities.dart
  pkgs/test_analyzer_plugin/pubspec.yaml
  pkgs/test_analyzer_plugin/test/rules/non_nullable_is_not_null_test.dart
  pkgs/test_analyzer_plugin/test/rules/use_is_empty_matcher_test.dart
Labels: none

removed unused js dependency
  pkgs/test/pubspec.yaml
Labels: package:test

add changelog
  pkgs/test/CHANGELOG.md
Labels: package:test

update version to 1.27.1-wip
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:test

removed unused js dependency (#2560)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:test

Add .fromEnvironment flags to the global declarer
  pkgs/test_core/lib/src/scaffolding.dart
  pkgs/test_core/test/scaffolding/fixtures/tester.dart
  pkgs/test_core/test/scaffolding/global_declarer_test.dart
Labels: package:test

Fix test and add changelog
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/test/scaffolding/global_declarer_test.dart
Labels: package:test

Update pubspec.yaml
  pkgs/test_core/pubspec.yaml
Labels: package:test

fix(test_core): fix `writeCoverage` to handle a `null` hit map
  pkgs/test_core/lib/src/runner/coverage.dart
Labels: package:test

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:checks':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/checks/**'

'package:fake_async':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/fake_async/**'

'package:matcher':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/matcher/**'

'package:test':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test/**'
    - any-glob-to-any-file: 'pkgs/test_api/**'
    - any-glob-to-any-file: 'pkgs/test_core/**'

'package:test_descriptor':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_descriptor/**'

'package:test_process':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_process/**'
