Repository dart-lang/test, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:checks, package:fake_async, package:matcher, package:test, package:test_descriptor, package:test_process

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:checks':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/checks/**'

'package:fake_async':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/fake_async/**'

'package:matcher':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/matcher/**'

'package:test':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test/**'
    - any-glob-to-any-file: 'pkgs/test_api/**'
    - any-glob-to-any-file: 'pkgs/test_core/**'

'package:test_descriptor':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_descriptor/**'

'package:test_process':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_process/**'

Finish JS interop migration
  pkgs/test/tool/host.dart
Labels: package:test

Reformat
  pkgs/test/tool/host.dart
Labels: package:test

Migrate host.dart to new JS interop (#2448)
  pkgs/test/lib/src/runner/browser/static/host.dart.js
  pkgs/test/tool/host.dart
Labels: package:test

[native assets] Add support for pub workspaces
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/vm/test_compiler.dart
Labels: package:test

Make TestLocation constructor take Uri, support filtering org-dartlang-app
  pkgs/test/test/runner/json_reporter_test.dart
  pkgs/test/test/runner/line_and_col_test.dart
  pkgs/test_api/lib/src/backend/test_location.dart
  pkgs/test_core/lib/src/runner.dart
Labels: package:test

Explicitly embed href in initialization message.
  pkgs/test/lib/dart.js
  pkgs/test/lib/src/runner/browser/dom.dart
  pkgs/test/lib/src/runner/browser/post_message_channel.dart
  pkgs/test/lib/src/runner/browser/static/host.dart.js
  pkgs/test/tool/host.dart
Labels: package:test

Enable dart2wasm on Safari.
  integration_tests/wasm/dart_test.yaml
  pkgs/test/test/runner/runner_test.dart
  pkgs/test_api/lib/src/backend/runtime.dart
Labels: package:test

Remove unused JS interop declaration.
  pkgs/test/lib/src/runner/browser/dom.dart
Labels: package:test

Supporting passing a filename that contains a list of arguments as the last argument
  pkgs/test/CHANGELOG.md
  pkgs/test/test/runner/runner_test.dart
  pkgs/test_core/lib/src/executable.dart
Labels: package:test

Add to test_core changelog
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Fixes as per Nate's comments.
  pkgs/test/lib/src/runner/browser/static/host.dart.js
  pkgs/test/tool/host.dart
Labels: package:test

Fix typos in README
  pkgs/checks/README.md
Labels: package:checks

Fix typos in README (#2487)
  pkgs/checks/README.md
Labels: package:checks

Use location.serialize in the JSON reporter
  pkgs/test_api/lib/src/backend/test_location.dart
  pkgs/test_core/lib/src/runner/reporter/json.dart
Labels: package:test

Add GroupEntry.parent and wire up in declarer + deserialization
  pkgs/test/test/runner/line_and_col_test.dart
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/group.dart
  pkgs/test_api/lib/src/backend/group_entry.dart
  pkgs/test_api/lib/src/backend/test.dart
  pkgs/test_core/lib/src/runner.dart
  pkgs/test_core/lib/src/runner/engine.dart
  pkgs/test_core/lib/src/runner/plugin/platform_helpers.dart
  pkgs/test_core/lib/src/runner/runner_test.dart
Labels: package:test

Move re-parenting to Group() constructor + update changelog
  .vscode/settings.json
  pkgs/test/CHANGELOG.md
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/group.dart
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner.dart
  pkgs/test_core/lib/src/runner/plugin/platform_helpers.dart
Labels: package:test

Delete settings.json
  .vscode/settings.json
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update CHANGELOG.md
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Bump version
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:test

Fix versions
  pkgs/test/pubspec.yaml
  pkgs/test_core/pubspec.yaml
Labels: package:test

Clone setup/teardown with forPlatform()
  pkgs/test_api/lib/src/backend/group.dart
Labels: package:test

Remove unnecessary parent assignment
  pkgs/test_core/lib/src/runner/runner_test.dart
Labels: package:test

Clone tests in filter() and in tests that assign to new groups
  pkgs/test/test/runner/engine_test.dart
  pkgs/test_api/lib/src/backend/invoker.dart
  pkgs/test_api/lib/src/backend/test.dart
  pkgs/test_core/lib/src/runner/runner_test.dart
Labels: package:test

Allow specifying an explicit location for test/groups (#2481)
  .gitignore
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test/test/runner/engine_test.dart
  pkgs/test/test/runner/json_reporter_test.dart
  pkgs/test/test/runner/json_reporter_utils.dart
  pkgs/test/test/runner/line_and_col_test.dart
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/backend.dart
  pkgs/test_api/lib/scaffolding.dart
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/group.dart
  pkgs/test_api/lib/src/backend/group_entry.dart
  pkgs/test_api/lib/src/backend/invoker.dart
  pkgs/test_api/lib/src/backend/remote_listener.dart
  pkgs/test_api/lib/src/backend/test.dart
  pkgs/test_api/lib/src/backend/test_location.dart
  pkgs/test_api/lib/src/scaffolding/test_structure.dart
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner.dart
  pkgs/test_core/lib/src/runner/engine.dart
  pkgs/test_core/lib/src/runner/plugin/platform_helpers.dart
  pkgs/test_core/lib/src/runner/reporter/json.dart
  pkgs/test_core/lib/src/runner/runner_test.dart
  pkgs/test_core/lib/src/scaffolding.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

Fix typos in json_reporter documentation
  pkgs/test/doc/json_reporter.md
Labels: package:test

Fix one more typo
  pkgs/test/doc/json_reporter.md
Labels: package:test

Fix typos in json_reporter documentation (#2493)
  pkgs/test/doc/json_reporter.md
Labels: package:test

Set a debug name for test isolates
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

fmt
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

changelog
  .github/workflows/dart.yml
  pkgs/test_core/CHANGELOG.md
Labels: type-infra, package:test

fmt
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

revert workflow debugging
  .github/workflows/dart.yml
Labels: type-infra

Add IsSorted and related matchers
  pkgs/matcher/lib/src/iterable_matchers.dart
  pkgs/matcher/test/iterable_matchers_test.dart
Labels: package:matcher

Update CHANGELOG to mention isSorted and related matchers.
  pkgs/matcher/CHANGELOG.md
Labels: package:matcher

Add generic types to IsSorted matchers to satisfy dart analysis issues.
  pkgs/matcher/lib/src/iterable_matchers.dart
  pkgs/matcher/test/iterable_matchers_test.dart
Labels: package:matcher

Use string templates for description instead repeated `.add`
  pkgs/matcher/lib/src/iterable_matchers.dart
  pkgs/matcher/test/iterable_matchers_test.dart
Labels: package:matcher

Switch to using iterator instead of .first and .skip.
  pkgs/matcher/lib/src/iterable_matchers.dart
Labels: package:matcher

Use correct comment type for documentation.
  pkgs/matcher/lib/src/iterable_matchers.dart
Labels: package:matcher

Use matchState and addDescriptionOf to properly quote elements.
  pkgs/matcher/lib/src/iterable_matchers.dart
  pkgs/matcher/test/iterable_matchers_test.dart
Labels: package:matcher
