Repository dart-lang/test, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:checks, package:fake_async, package:matcher, package:test, package:test_descriptor, package:test_process

Fix chrome test
  pkgs/test/test/runner/coverage_test.dart
Labels: package:test

typo
  pkgs/test/CHANGELOG.md
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Fix windows test
  pkgs/test/test/runner/coverage_test.dart
Labels: package:test

Expand Analyzer constraints to allow 8.x
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Add ignores for deprecated analyzer getter
  pkgs/test_core/lib/src/runner/parse_metadata.dart
Labels: package:test

Expand Analyzer constraints to allow 8.x (#2518)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/parse_metadata.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

Require latest analyzer
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/parse_metadata.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

Update to language version 2.7
  .github/workflows/dart.yml
  pkgs/test/pubspec.yaml
  pkgs/test_core/pubspec.yaml
  tool/ci.sh
Labels: type-infra, package:test

Missed SDK constraints
  .github/workflows/dart.yml
  integration_tests/regression/pubspec.yaml
  integration_tests/spawn_hybrid/pubspec.yaml
  integration_tests/wasm/pubspec.yaml
  pkgs/test_api/pubspec.yaml
Labels: type-infra, package:test

More packages - does the _whole_ repo need to move?
  .github/workflows/dart.yml
  pkgs/checks/pubspec.yaml
  pkgs/matcher/pubspec.yaml
Labels: type-infra, package:checks, package:matcher

More changelog entries
  pkgs/checks/CHANGELOG.md
  pkgs/checks/pubspec.yaml
  pkgs/matcher/CHANGELOG.md
  pkgs/test/CHANGELOG.md
  pkgs/test_api/CHANGELOG.md
  pkgs/test_core/CHANGELOG.md
Labels: package:checks, package:matcher, package:test

consistent bullet
  pkgs/test/CHANGELOG.md
Labels: package:test

fix test_api changelog version number
  pkgs/test_api/CHANGELOG.md
Labels: package:test

Single character wildcard argument names
  pkgs/test/lib/src/runner/browser/browser.dart
  pkgs/test/lib/src/runner/browser/platform.dart
  pkgs/test/lib/src/runner/node/platform.dart
  pkgs/test_api/lib/src/backend/invoker.dart
  pkgs/test_api/lib/src/backend/remote_listener.dart
  pkgs/test_core/lib/src/runner/engine.dart
  pkgs/test_core/lib/src/runner/hybrid_listener.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
  pkgs/test_core/lib/src/util/os.dart
Labels: package:test

Fix lints in matcher
  pkgs/matcher/lib/src/expect/prints_matcher.dart
  pkgs/matcher/lib/src/expect/stream_matcher.dart
Labels: package:matcher

Fix merge cruft
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Fix version error
  pkgs/test_core/pubspec.yaml
Labels: package:test

Consider NaN a match for itself
  pkgs/matcher/CHANGELOG.md
  pkgs/matcher/lib/src/equals_matcher.dart
  pkgs/matcher/test/core_matchers_test.dart
Labels: package:matcher

Consider NaN a match for itself (#2524)
  pkgs/matcher/CHANGELOG.md
  pkgs/matcher/lib/src/equals_matcher.dart
  pkgs/matcher/test/core_matchers_test.dart
Labels: package:matcher

Allow connecting to the runner from test suite
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/remote_listener.dart
Labels: package:test

Drop executable arguments forwarding
  pkgs/test/test/runner/precompiled_test.dart
Labels: package:test

Drop executable arguments forwarding (#2528)
  pkgs/test/test/runner/precompiled_test.dart
Labels: package:test

fix merge cruft
  pkgs/test/pubspec.yaml
Labels: package:test

Allow connecting to the runner from test suite (#2526)
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/remote_listener.dart
Labels: package:test

Rename --coverage-lcov to --coverage-path
  pkgs/test/CHANGELOG.md
  pkgs/test/README.md
  pkgs/test/test/runner/coverage_test.dart
  pkgs/test/test/runner/runner_test.dart
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/configuration/args.dart
Labels: package:test

Add `--coverage-path` and `--branch-coverage` options (#2517)
  pkgs/test/CHANGELOG.md
  pkgs/test/README.md
  pkgs/test/pubspec.yaml
  pkgs/test/test/io.dart
  pkgs/test/test/runner/coverage_test.dart
  pkgs/test/test/runner/runner_test.dart
  pkgs/test/test/utils.dart
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner.dart
  pkgs/test_core/lib/src/runner/configuration.dart
  pkgs/test_core/lib/src/runner/configuration/args.dart
  pkgs/test_core/lib/src/runner/coverage.dart
  pkgs/test_core/lib/src/runner/coverage_stub.dart
  pkgs/test_core/lib/src/runner/engine.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
  pkgs/test_core/lib/src/util/package_config.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

Bump to analysis_server_plugin 0.2.2
  pkgs/test_analyzer_plugin/lib/src/fixes.dart
  pkgs/test_analyzer_plugin/lib/src/utilities.dart
  pkgs/test_analyzer_plugin/pubspec.yaml
Labels: none

Serve dart2wasm source map files
  pkgs/test/lib/src/runner/browser/compilers/dart2wasm.dart
Labels: package:test

Revert var -> final changes
  pkgs/test/lib/src/runner/browser/compilers/dart2wasm.dart
Labels: package:test

Update chagenlogg
  pkgs/test/CHANGELOG.md
Labels: package:test

Serve dart2wasm source map files (#2532)
  pkgs/test/CHANGELOG.md
  pkgs/test/lib/src/runner/browser/compilers/dart2wasm.dart
Labels: package:test

Remove executable argument forwarding in tests
  pkgs/test/test/io.dart
Labels: package:test

Remove executable argument forwarding in tests (#2533)
  pkgs/test/test/io.dart
Labels: package:test

get version from a hard coded value
  pkgs/test/CHANGELOG.md
  pkgs/test/lib/src/executable.dart
  pkgs/test/lib/src/version.dart
  pkgs/test/pubspec.yaml
  pkgs/test/test/runner/json_reporter_utils.dart
  pkgs/test/test/version_test.dart
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/executable.dart
  pkgs/test_core/lib/src/runner.dart
  pkgs/test_core/lib/src/runner/configuration/reporters.dart
  pkgs/test_core/lib/src/runner/engine.dart
  pkgs/test_core/lib/src/runner/reporter/json.dart
  pkgs/test_core/lib/src/runner/version.dart
Labels: package:test

fix test path
  pkgs/test/test/version_test.dart
Labels: package:test

Support --version in pub workspace
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/version.dart
Labels: package:test

Store pub directory for reuse
  pkgs/test_core/lib/src/runner/version.dart
Labels: package:test

Remove non-null version in a test
  pkgs/test/test/runner/json_reporter_utils.dart
Labels: package:test

Remove extra version info
  pkgs/test_core/lib/src/runner/version.dart
Labels: package:test

Unused import
  pkgs/test/test/runner/json_reporter_utils.dart
Labels: package:test

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:checks':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/checks/**'

'package:fake_async':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/fake_async/**'

'package:matcher':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/matcher/**'

'package:test':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test/**'
    - any-glob-to-any-file: 'pkgs/test_api/**'
    - any-glob-to-any-file: 'pkgs/test_core/**'

'package:test_descriptor':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_descriptor/**'

'package:test_process':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_process/**'
