Repository dart-lang/test, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:checks, package:fake_async, package:matcher, package:test, package:test_descriptor, package:test_process

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:checks':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/checks/**'

'package:fake_async':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/fake_async/**'

'package:matcher':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/matcher/**'

'package:test':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test/**'
    - any-glob-to-any-file: 'pkgs/test_api/**'
    - any-glob-to-any-file: 'pkgs/test_core/**'

'package:test_descriptor':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_descriptor/**'

'package:test_process':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_process/**'

Add `isSorted` for Comparable type and rename the comparator accepting method to `isSortedUsing`
  pkgs/matcher/lib/src/iterable_matchers.dart
  pkgs/matcher/test/iterable_matchers_test.dart
Labels: package:matcher

release test packages
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

release test packages (#2495)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Bump version
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Include the test URI in the debug name
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

Fix CI
  pkgs/test/pubspec.yaml
Labels: package:test

Update method docs to match the corresponding style as per iterable_extensions.
  pkgs/matcher/lib/src/iterable_matchers.dart
Labels: package:matcher

Report mismatch index for isSorted failures along with the actual index.
  pkgs/matcher/lib/src/iterable_matchers.dart
  pkgs/matcher/test/iterable_matchers_test.dart
Labels: package:matcher

Add more test cases for isSorted.
  pkgs/matcher/lib/src/iterable_matchers.dart
  pkgs/matcher/test/iterable_matchers_test.dart
Labels: package:matcher

Fix an issue with failed assertions using setUpAll/tearDownAll
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test/test/runner/set_up_all_test.dart
  pkgs/test/test/runner/tear_down_all_test.dart
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/src/backend/group.dart
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Make changelogs consistent + bump versions
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Add a clone method
  pkgs/test_api/lib/src/backend/group.dart
  pkgs/test_api/lib/src/backend/group_entry.dart
  pkgs/test_api/lib/src/backend/invoker.dart
  pkgs/test_api/lib/src/backend/test.dart
  pkgs/test_core/lib/src/runner/runner_test.dart
Labels: package:test

Fix an issue with failed assertions using setUpAll/tearDownAll (#2499)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test/test/runner/set_up_all_test.dart
  pkgs/test/test/runner/tear_down_all_test.dart
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/src/backend/group.dart
  pkgs/test_api/lib/src/backend/group_entry.dart
  pkgs/test_api/lib/src/backend/invoker.dart
  pkgs/test_api/lib/src/backend/test.dart
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/runner_test.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

[native assets] Graduate to preview
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/vm/test_compiler.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

[native assets] Graduate to preview (#2501)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/vm/test_compiler.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

Add isSorted and related matchers (#2490)
  pkgs/matcher/CHANGELOG.md
  pkgs/matcher/lib/src/iterable_matchers.dart
  pkgs/matcher/test/iterable_matchers_test.dart
Labels: package:matcher

Add --json-help argument
  pkgs/test_core/lib/src/executable.dart
  pkgs/test_core/lib/src/runner/configuration.dart
  pkgs/test_core/lib/src/runner/configuration/args.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

Add the platform level channel to zone values
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/remote_listener.dart
  pkgs/test_api/lib/src/scaffolding/spawn_hybrid.dart
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Align versions
  pkgs/test/pubspec.yaml
  pkgs/test_core/pubspec.yaml
Labels: package:test

back out accidental change
  pkgs/test_api/lib/src/scaffolding/spawn_hybrid.dart
Labels: package:test

Update README.md to clarify this is an experiment
  pkgs/checks/README.md
Labels: package:checks

Update CHANGELOG.md
  pkgs/checks/CHANGELOG.md
Labels: package:checks

Update pkgs/checks/README.md
  pkgs/checks/README.md
Labels: package:checks

Update README.md
  pkgs/checks/README.md
Labels: package:checks

Update README.md to clarify this is an experiment (#2512)
  pkgs/checks/CHANGELOG.md
  pkgs/checks/README.md
Labels: package:checks

prep to publish package:checks 0.3.1
  pkgs/checks/CHANGELOG.md
  pkgs/checks/README.md
  pkgs/checks/pubspec.yaml
Labels: package:checks

prep to publish package:checks 0.3.1 (#2513)
  pkgs/checks/CHANGELOG.md
  pkgs/checks/README.md
  pkgs/checks/pubspec.yaml
Labels: package:checks

Filter coverage report to the current package
  pkgs/test_core/lib/src/runner/vm/platform.dart
  pkgs/test_core/lib/src/util/package_config.dart
Labels: package:test

Flags and plumbing
  pkgs/test_core/lib/src/runner/configuration.dart
  pkgs/test_core/lib/src/runner/configuration/args.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

Add another rule: non_nullable_is_not_null_rule
  pkgs/test_analyzer_plugin/lib/main.dart
  pkgs/test_analyzer_plugin/lib/src/rules/non_nullable_is_not_null_rule.dart
  pkgs/test_analyzer_plugin/lib/src/rules/test_in_test_rule.dart
  pkgs/test_analyzer_plugin/lib/src/utilities.dart
  pkgs/test_analyzer_plugin/pubspec.yaml
  pkgs/test_analyzer_plugin/test/rules/non_nullable_is_not_null_test.dart
Labels: none

Output lcov
  pkgs/test/pubspec.yaml
  pkgs/test_core/lib/src/runner.dart
  pkgs/test_core/lib/src/runner/configuration.dart
  pkgs/test_core/lib/src/runner/configuration/args.dart
  pkgs/test_core/lib/src/runner/coverage.dart
  pkgs/test_core/lib/src/runner/coverage_stub.dart
  pkgs/test_core/lib/src/runner/engine.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
  pkgs/test_core/lib/src/util/package_config.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

pubspec and changelog
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

readme
  pkgs/test/README.md
Labels: package:test

readme
  pkgs/test/README.md
Labels: package:test

more pubspec and changelog
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:test

fix analysis
  pkgs/test/test/utils.dart
Labels: package:test

Fix some tests
  pkgs/test/test/runner/runner_test.dart
Labels: package:test

WIP test
  pkgs/test/test/io.dart
  pkgs/test/test/runner/coverage_test.dart
Labels: package:test

Fix test
  pkgs/test/test/runner/coverage_test.dart
Labels: package:test

Test new flags
  pkgs/test/test/runner/coverage_test.dart
Labels: package:test
