Repository dart-lang/test, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:checks, package:fake_async, package:matcher, package:test, package:test_descriptor, package:test_process

chore: rev version and update changelog
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

Apply suggestions from code review
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/coverage.dart
Labels: package:test

bump pkg:test
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:test

fix: typo
  pkgs/test/CHANGELOG.md
Labels: package:test

Add "test body goes last" rule
  pkgs/test_analyzer_plugin/lib/main.dart
  pkgs/test_analyzer_plugin/lib/src/rules/non_nullable_is_not_null_rule.dart
  pkgs/test_analyzer_plugin/lib/src/rules/test_body_goes_last_rule.dart
  pkgs/test_analyzer_plugin/pubspec.yaml
  pkgs/test_analyzer_plugin/test/rules/non_nullable_is_not_null_test.dart
  pkgs/test_analyzer_plugin/test/rules/test_body_goes_last_test.dart
  pkgs/test_analyzer_plugin/test/rules/use_is_empty_matcher_test.dart
Labels: none

improved tests
  pkgs/test_analyzer_plugin/test/rules/test_in_test_test.dart
  pkgs/test_analyzer_plugin/test/with_test_package.dart
Labels: none

use switch
  pkgs/test_core/lib/src/runner/coverage.dart
Labels: package:test

Add CHANGELOG
  pkgs/test_analyzer_plugin/CHANGELOG.md
  pkgs/test_analyzer_plugin/README.md
Labels: none

helpful context
  pkgs/test_core/lib/src/runner/coverage.dart
Labels: package:test

LICENSE
  pkgs/test_analyzer_plugin/LICENSE
Labels: none

Prepare to publish matcher
  pkgs/matcher/CHANGELOG.md
  pkgs/matcher/pubspec.yaml
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:matcher, package:test

fix(test_core): fix `writeCoverage` to handle a `null` hit map (#2563)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/coverage.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

Prepare to publish matcher (#2564)
  pkgs/matcher/CHANGELOG.md
  pkgs/matcher/pubspec.yaml
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:matcher, package:test

Prepare to publish package:test
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:test

Prepare to publish package:test (#2565)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
Labels: package:test

Move coverage_test's fake_package into its own directory
  pkgs/test/test/io.dart
  pkgs/test/test/runner/coverage_test.dart
Labels: package:test

Test new behavior
  pkgs/test/test/runner/coverage_test.dart
Labels: package:test

pubspec links
  pkgs/test_analyzer_plugin/pubspec.yaml
Labels: none

New rule: use_contains_matcher
  pkgs/test_analyzer_plugin/CHANGELOG.md
  pkgs/test_analyzer_plugin/README.md
  pkgs/test_analyzer_plugin/lib/main.dart
  pkgs/test_analyzer_plugin/lib/src/rules/use_contains_matcher_rule.dart
  pkgs/test_analyzer_plugin/test/rules/use_contains_matcher_test.dart
Labels: none

Add support for setUp, setUpAll, tearDown, and tearDownAll
  pkgs/test_analyzer_plugin/CHANGELOG.md
  pkgs/test_analyzer_plugin/README.md
  pkgs/test_analyzer_plugin/lib/src/rules/test_in_test_rule.dart
  pkgs/test_analyzer_plugin/lib/src/utilities.dart
  pkgs/test_analyzer_plugin/test/rules/test_in_test_test.dart
  pkgs/test_analyzer_plugin/test/with_test_package.dart
Labels: none

Implement the new flag
  pkgs/test/test/runner/coverage_test.dart
  pkgs/test/test/utils.dart
  pkgs/test_core/lib/src/runner/configuration.dart
  pkgs/test_core/lib/src/runner/configuration/args.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

changelog
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/pubspec.yaml
Labels: package:test

fix CI
  pkgs/test/pubspec.yaml
Labels: package:test

fix runner_test.dart
  pkgs/test/test/runner/runner_test.dart
  pkgs/test_core/lib/src/runner/configuration/args.dart
Labels: package:test

Nate's comments
  pkgs/test_core/lib/src/runner/configuration.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

Add `--coverage-package` option (#2566)
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test/test/io.dart
  pkgs/test/test/runner/coverage_test.dart
  pkgs/test/test/runner/runner_test.dart
  pkgs/test/test/utils.dart
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/configuration.dart
  pkgs/test_core/lib/src/runner/configuration/args.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

Require a definition named `main` in test suites
  pkgs/test/test/runner/parse_metadata_test.dart
  pkgs/test_core/lib/src/runner/parse_metadata.dart
Labels: package:test

Check for FunctionDeclaration specifically
  pkgs/test_core/lib/src/runner/parse_metadata.dart
Labels: package:test

Use lexeme for the Token to string
  pkgs/test_core/lib/src/runner/parse_metadata.dart
Labels: package:test

Add changelog entries
  pkgs/test/CHANGELOG.md
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Add main to changed version of precompiled test
  pkgs/test/test/runner/precompiled_test.dart
Labels: package:test

Add mains to more "bad" test examples
  pkgs/test/test/runner/browser/runner_test.dart
  pkgs/test/test/runner/node/runner_test.dart
  pkgs/test/test/runner/runner_test.dart
Labels: package:test

Another precompiled example needs to retain a main
  pkgs/test/test/runner/precompiled_test.dart
Labels: package:test

Tweaked error output
  pkgs/test/test/runner/runner_test.dart
Labels: package:test

Repro the bug in a test
  pkgs/test/test/runner/coverage_test.dart
Labels: package:test

fix the bug
  pkgs/test/test/runner/coverage_test.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
  pkgs/test_core/lib/src/util/package_config.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test

changelog
  pkgs/test_core/CHANGELOG.md
Labels: package:test

Require a definition named `main` in test suites (#2569)
  pkgs/test/CHANGELOG.md
  pkgs/test/test/runner/browser/runner_test.dart
  pkgs/test/test/runner/node/runner_test.dart
  pkgs/test/test/runner/parse_metadata_test.dart
  pkgs/test/test/runner/precompiled_test.dart
  pkgs/test/test/runner/runner_test.dart
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/parse_metadata.dart
Labels: package:test

wip: sanitizers
  pkgs/test/test/io.dart
  pkgs/test/test/runner/compiler_runtime_matrix_test.dart
  pkgs/test/test/runner/runner_test.dart
  pkgs/test/test/runner/sanitizer_test.dart
  pkgs/test_api/lib/src/backend/runtime.dart
  pkgs/test_core/lib/src/runner/loader.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

wip: sanitizers
  pkgs/test/test/io.dart
  pkgs/test/test/runner/compiler_runtime_matrix_test.dart
  pkgs/test/test/runner/runner_test.dart
  pkgs/test/test/runner/sanitizer_test.dart
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/src/backend/runtime.dart
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/loader.dart
  pkgs/test_core/lib/src/runner/vm/platform.dart
Labels: package:test

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:checks':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/checks/**'

'package:fake_async':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/fake_async/**'

'package:matcher':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/matcher/**'

'package:test':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test/**'
    - any-glob-to-any-file: 'pkgs/test_api/**'
    - any-glob-to-any-file: 'pkgs/test_core/**'

'package:test_descriptor':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_descriptor/**'

'package:test_process':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/test_process/**'
