Repository dart-lang/test, pull requests merged in 2018-04, with the labels that each got.

#799 simplify --precompiled to serve the precompiled directory directly
  CHANGELOG.md
  lib/src/runner/browser/platform.dart
  pubspec.yaml
Labels: cla: yes

#801 Support --precompiled for vm tests
  CHANGELOG.md
  lib/src/runner/loader.dart
  lib/src/runner/vm/platform.dart
  test/runner/node/runner_test.dart
  test/runner/precompiled_paths_test.dart
  test/runner/precompiled_test.dart
  test/runner/runner_test.dart
Labels: cla: yes, enhancement

#803 Stop using document.query in tests – use document.querySelector
  test/runner/browser/runner_test.dart
  test/runner/pub_serve_test.dart
Labels: cla: yes

#802 Add support for --precompiled node tests
  CHANGELOG.md
  lib/src/runner/loader.dart
  lib/src/runner/node/platform.dart
  test/runner/node/runner_test.dart
  test/runner/precompiled_test.dart
Labels: cla: yes

#804 Require at least Dart 1.24
  .travis.yml
  CHANGELOG.md
  pubspec.yaml
Labels: cla: yes

#806 prepare to release 0.12.34
  CHANGELOG.md
  pubspec.yaml
Labels: cla: yes

#807 fix node tests in subdirs
  CHANGELOG.md
  lib/src/runner/node/platform.dart
  pubspec.yaml
  test/runner/precompiled_test.dart
Labels: bug, cla: yes

#809 Fix default custom html handler
  CHANGELOG.md
  lib/src/runner/browser/platform.dart
Labels: cla: yes

#811 Fix node bootstrapping for dart2
  .travis.yml
  CHANGELOG.md
  dart_test.yaml
  lib/src/bootstrap/node.dart
  lib/src/runner/node/socket_channel.dart
  lib/src/runner/remote_listener.dart
  lib/src/util/stack_trace_mapper.dart
  lib/src/utils.dart
  pubspec.yaml
Labels: cla: yes

#808 Remove upper case constants
  lib/src/frontend/spawn_hybrid.dart
  lib/src/frontend/stream_matcher.dart
  lib/src/runner/browser/browser.dart
  lib/src/runner/browser/browser_manager.dart
  lib/src/runner/browser/dartium.dart
  lib/src/runner/browser/platform.dart
  lib/src/runner/browser/safari.dart
  lib/src/runner/compiler_pool.dart
  lib/src/runner/node/platform.dart
  lib/src/runner/reporter/json.dart
  lib/src/util/dart.dart
  lib/src/util/io.dart
  lib/src/utils.dart
  test/frontend/test_chain_test.dart
  test/runner/browser/runner_test.dart
  test/runner/configuration/global_test.dart
  test/runner/configuration/platform_test.dart
  test/runner/configuration/presets_test.dart
  test/runner/configuration/tags_test.dart
  test/runner/configuration/top_level_error_test.dart
  test/runner/configuration/top_level_test.dart
  test/runner/engine_test.dart
  test/runner/json_reporter_test.dart
  test/runner/load_suite_test.dart
  test/runner/pause_after_load_test.dart
  test/runner/runner_test.dart
  test/runner/timeout_test.dart
  tool/host.dart
Labels: cla: yes

#812 Drop dartium support
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  doc/architecture.md
  doc/configuration.md
  lib/dart.js
  lib/src/backend/runtime.dart
  lib/src/runner/browser/browser_manager.dart
  lib/src/runner/browser/content_shell.dart
  lib/src/runner/browser/dartium.dart
  lib/src/runner/browser/default_settings.dart
  lib/src/runner/debugger.dart
  lib/src/runner/loader.dart
  lib/src/runner/vm/platform.dart
  test/runner/browser/dartium_test.dart
  test/runner/browser/runner_test.dart
  test/runner/pub_serve_test.dart
  test/runner/runner_test.dart
Labels: cla: yes

#813 Drop dev_dependency on http
  pubspec.yaml
Labels: cla: yes

#817 Update test that validates args usage with new args output
  test/runner/runner_test.dart
Labels: cla: yes

#819 Fix for Dart 2 runtime failures
  lib/src/runner/configuration/suite.dart
  lib/src/runner/plugin/platform_helpers.dart
Labels: cla: yes
