Repository dart-lang/test, pull requests merged in 2025-03, with the labels that each got.

#2465 Update publish.yaml
  .github/workflows/publish.yaml
Labels: type-infra

#2467 Suggest using `dart pub add dev:checks`
  pkgs/checks/README.md
Labels: package:checks, skip-changelog-check

#2475 Sort reporter options
  pkgs/test/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/configuration/reporters.dart
  pkgs/test_core/pubspec.yaml
Labels: skip-changelog-check, package:test
