Repository dart-lang/test, pull requests merged in 2025-04, with the labels that each got.

#2478 Migrate from deprecated `dart:js`, `dart:js_util`, `package:js_util` to `dart:js_interop`
  pkgs/test/lib/src/runner/browser/compilers/dart2js.dart
  pkgs/test/lib/src/runner/browser/dom.dart
  pkgs/test/lib/src/runner/browser/post_message_channel.dart
  pkgs/test/test/runner/coverage_test.dart
  pkgs/test/test/runner/test_on_test.dart
  pkgs/test/tool/host.dart
Labels: skip-changelog-check, package:test

#2448 Migrate host.dart to new JS interop
  pkgs/test/lib/src/runner/browser/static/host.dart.js
  pkgs/test/tool/host.dart
Labels: package:test

#2484 [native assets] Add support for pub workspaces
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner/vm/test_compiler.dart
Labels: package:test

#2487 Fix typos in README
  pkgs/checks/README.md
Labels: package:checks, skip-changelog-check

#2481 Allow specifying an explicit location for test/groups
  .gitignore
  pkgs/test/CHANGELOG.md
  pkgs/test/pubspec.yaml
  pkgs/test/test/runner/engine_test.dart
  pkgs/test/test/runner/json_reporter_test.dart
  pkgs/test/test/runner/json_reporter_utils.dart
  pkgs/test/test/runner/line_and_col_test.dart
  pkgs/test_api/CHANGELOG.md
  pkgs/test_api/lib/backend.dart
  pkgs/test_api/lib/scaffolding.dart
  pkgs/test_api/lib/src/backend/declarer.dart
  pkgs/test_api/lib/src/backend/group.dart
  pkgs/test_api/lib/src/backend/group_entry.dart
  pkgs/test_api/lib/src/backend/invoker.dart
  pkgs/test_api/lib/src/backend/remote_listener.dart
  pkgs/test_api/lib/src/backend/test.dart
  pkgs/test_api/lib/src/backend/test_location.dart
  pkgs/test_api/lib/src/scaffolding/test_structure.dart
  pkgs/test_api/pubspec.yaml
  pkgs/test_core/CHANGELOG.md
  pkgs/test_core/lib/src/runner.dart
  pkgs/test_core/lib/src/runner/engine.dart
  pkgs/test_core/lib/src/runner/plugin/platform_helpers.dart
  pkgs/test_core/lib/src/runner/reporter/json.dart
  pkgs/test_core/lib/src/runner/runner_test.dart
  pkgs/test_core/lib/src/scaffolding.dart
  pkgs/test_core/pubspec.yaml
Labels: package:test
